@import "compass/css3";
@import "bits";
@import "toolbox";
@import "normalize";
@import "typography";
@import "header";
@import "grid";


// ---------------------------------- PAGE
body {

	//background: url("/images/absurdidad_@2X.png");
	//background: url("/images/diagonal-noise_@2X.png");
	//background: url("/images/lghtmesh_@2X_10.png");
	//background: url("/images/lghtmesh_@2X.png");
	//background: url("/images/light_noise_diagonal_@2X.png");
	//background: url("/images/light_toast_@2X.png");
	//background: url("/images/lil_fiber_@2X.png");
	//background: url("/images/redox_01_@2X.png");
	//background: url("/images/rough_diagonal_@2X.png");
	background: url("images/rough_diagonal.png");
  overflow-x: hidden;

}

.page-wrap {
  //background: $lightGray;
  width: 100%;
  margin: 0 auto 0;
  //position: relative;
  //padding-top: $padding;
  @include transition(width 0.2s ease);
  @include breakpoint(xl) {
      width: 960px;
      margin: 0 auto;
  }
}

.page-separator {
  background: $darkRed;
  width: 100%;
  height: 20px;
}

img {
  max-width: 100%;
  height: auto !important;
}

@import "nav";
@import "modules";
@import "footer";